.mymetadata
.checkstyle
.classpath
.project
.class
.idea
*.iml
*/.settings/*
/.settings/*
.settings/*
.settings/
/target/*
/target/
target/*
target/
/src/main/webapp/WEB-INF/classes/*
/bin/*
/bin/
bin/*
bin/
*/.idea/*