<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>编辑博客-感谢代码</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/editor/themes/default/default.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script charset="utf-8" th:src="@{/editor/kindeditor-min.js}"></script>
    <script charset="utf-8" th:src="@{/editor/lang/zh_CN.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $("#subButton").click(function() {
                var blogData = {id:$("#blog_id").val(),title:$("#title").val(),content:editor.html()};
                $.ajax({
                    type: "POST",
                    url: "/blog/post",
                    contentType:'application/json',
                    data: JSON.stringify(blogData),
                    success: function (data) {
                        if(data.code=='OK'){
                            alert('编辑成功');
                        }else{
                            alert(data.message);
                        }
                    }
                });
            });
        });
        var editor;
        var blog_content = [[${blog.content}]];
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                allowFileManager : true
            });
            editor.html(blog_content);
        });

    </script>
    <style>
       #title{
           width:1000px;
       }
       textarea{
           width:1000px;
           height:500px;
           visibility:hidden;
       }
    </style>
</head>
<body>
<div class="page-holder">
    <div th:replace="common/header::header"></div>
    <input type="hidden" id="blog_id" th:value="${blog.id}"/>
    <div>标题</div>
    <div><input type="text" name="title" id="title" th:value="${blog.title}"/></div>
    <div> 内容 </div>
    <div><textarea   name="content" id="content" /></div>
    <div> <input type="button" id="subButton" value="提交"/></div>
    <div th:replace="common/footer::footer"></div>
</div>
</body>
</html>